<!DOCTYPE html>
<html lang="en" th:replace="~{ /fragment/layout :: layout( ~{ :: content }) }">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Log in</h1>

  <form action="/user/sign-in" method="post" th:object="${form}">
      <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="error :${#fields.globalErrors()}" th:text="${error}" class="form-error" id="sign-in error"></p>
      </div>

      <div class="mb-3">
          <label for="in-login" class="form-label">login : </label><br/>
          <input type="text" id="in-login" name="login" class="form-control">

      </div>

      <div class="mb-3">
          <label for="in-pswd" class="form-label">password : </label><br/>
          <input type="password" id="in-pswd" name="password" class="form-control">

      </div>

      <button type="submit" class="btn btn-success">Sign up</button>

  </form>

</body>
</html>